.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    height: 5%;
    padding: 0px 0;
}

.topnav-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 1vh;
}

.topnav-left-text {
    width: fit-content;
    font-size: 12px;
    color: #f0fff8; /* almost white */
}

.topnav-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1rem;
    margin-top: .5rem;
}

.topnav-right-links {
    margin-left: 0.5rem;
    width: 4rem;
    font-size: 12px;
    color: #f0fff8; /* almost white */
    /*text-shadow: 0 0 1px #80ffc0, 0 0 5px #00ff66, 0 0 10px #00ff66, 0 0 15px #00ff66;*/
    text-align: center;
}
.topnav-right-links:hover {
    cursor: default;
}
.topnav-right-links:hover::before {
    content: "[ "; /* Text to appear on the left side */
    left: 0; /* Position it on the left */
}
.topnav-right-links:hover::after {
    content: " ]"; /* Text to appear on the right side */
    right: 0; /* Position it on the right */
}
.topnav-right-links-selected {
    margin-left: 0.5rem;
    width: 4rem;
    font-size: 12px;
    color: dimgrey; /* almost white */
    /*text-shadow: 0 0 1px #80ffc0, 0 0 5px #00ff66, 0 0 10px #00ff66, 0 0 15px #00ff66;*/
    text-align: center;
}


.topnav-right-split {

}